# Bag of Words Exercise

#### Get a corpus (needs to be in list form)

In [1]:
corpus = """
she got the mm brown eyes, caramel thighs, long hair, no wedding ring,
i saw you lookin' from across the way and now i really wanna know your name
She got the mm white dress, but when she's wearing less
you know that she drives me crazy
the mm brown eyes, beautiful smile
You know i love watching you do your thing
"""

In [2]:
# our corpus needs TO BE IN LIST FORM
corpus = [corpus]

In [3]:
#we could choose to split our songs line by line!
corpus[0].split('\n')

['',
 'she got the mm brown eyes, caramel thighs, long hair, no wedding ring,',
 "i saw you lookin' from across the way and now i really wanna know your name",
 "She got the mm white dress, but when she's wearing less",
 'you know that she drives me crazy',
 'the mm brown eyes, beautiful smile',
 'You know i love watching you do your thing',
 '']

In [4]:
#lets add a new song
new_song = """ 
L.A. on a Saturday night in the summer
Sun down and they all come out
Lamborghinis and their rented Hummers
The party's on, so they're heading downtown

Everybody's looking for a come-up
And they wanna know what you're about
Me in the middle with the one I love and
We're just tryna figure everything out
"""

In [5]:
corpus.append(new_song)

In [6]:
corpus

["\nshe got the mm brown eyes, caramel thighs, long hair, no wedding ring,\ni saw you lookin' from across the way and now i really wanna know your name\nShe got the mm white dress, but when she's wearing less\nyou know that she drives me crazy\nthe mm brown eyes, beautiful smile\nYou know i love watching you do your thing\n",
 " \nL.A. on a Saturday night in the summer\nSun down and they all come out\nLamborghinis and their rented Hummers\nThe party's on, so they're heading downtown\n\nEverybody's looking for a come-up\nAnd they wanna know what you're about\nMe in the middle with the one I love and\nWe're just tryna figure everything out\n"]

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
cv = CountVectorizer()

In [9]:
cv.fit(corpus)

CountVectorizer()

In [10]:
vec_corpus = cv.transform(corpus)

In [11]:
vec_corpus

<2x76 sparse matrix of type '<class 'numpy.int64'>'
	with 83 stored elements in Compressed Sparse Row format>

In [12]:
vec_corpus.todense()

matrix([[0, 1, 0, 1, 1, 2, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 2, 0, 0, 1,
         2, 1, 0, 0, 0, 0, 3, 0, 1, 1, 1, 0, 1, 1, 0, 3, 1, 0, 1, 1, 0,
         0, 0, 0, 0, 1, 0, 1, 0, 1, 4, 1, 0, 0, 0, 1, 4, 0, 0, 1, 1, 0,
         0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 4, 2],
        [1, 0, 1, 4, 0, 0, 0, 0, 2, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0,
         0, 0, 1, 1, 2, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 2,
         1, 2, 1, 3, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 4, 1, 3, 0, 0, 1,
         1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0]], dtype=int64)

In [13]:
import pandas as pd

In [14]:
# Just a word counter for each song - we call this Term Frequency, where term = token = word
df = pd.DataFrame(vec_corpus.todense(), columns=cv.get_feature_names(), index=['south','beautiful'])
df

,about,across,all,and,beautiful,brown,but,caramel,come,crazy,...,way,we,wearing,wedding,what,when,white,with,you,your
south,0,1,0,1,1,2,1,1,0,1,...,1,0,1,1,0,1,1,0,4,2
beautiful,1,0,1,4,0,0,0,0,2,0,...,0,1,0,0,1,0,0,1,1,0

In [15]:
# The important bit is the no.of documents / no.of documents containing w! lets look at this for a couple of examples

In [16]:
df['eyes']

south        2
beautiful    0
Name: eyes, dtype: int64

In [17]:
df['night']

south        0
beautiful    1
Name: night, dtype: int64

In [18]:
from sklearn.feature_extraction.text import TfidfTransformer

In [19]:
tf = TfidfTransformer()

In [20]:
tf.fit(vec_corpus)

TfidfTransformer()

In [21]:
tf_corpus = tf.transform(vec_corpus)

In [22]:
# tfidf relusts
df2 = pd.DataFrame(tf_corpus.todense(), columns=cv.get_feature_names(), index=['otherside', 'view_from_the_afternoon'])
df2

,about,across,all,and,beautiful,brown,but,caramel,come,crazy,...,way,we,wearing,wedding,what,when,white,with,you,your
otherside,0.000000,0.103817,0.000000,0.073867,0.103817,0.207635,0.103817,0.103817,0.000000,0.103817,...,0.103817,0.000000,0.103817,0.103817,0.000000,0.103817,0.103817,0.000000,0.295468,0.207635
view_from_the_afternoon,0.111296,0.000000,0.111296,0.316752,0.000000,0.000000,0.000000,0.000000,0.222592,0.000000,...,0.000000,0.111296,0.000000,0.000000,0.111296,0.000000,0.000000,0.111296,0.079188,0.000000

In [23]:
# count vector results
df

,about,across,all,and,beautiful,brown,but,caramel,come,crazy,...,way,we,wearing,wedding,what,when,white,with,you,your
south,0,1,0,1,1,2,1,1,0,1,...,1,0,1,1,0,1,1,0,4,2
beautiful,1,0,1,4,0,0,0,0,2,0,...,0,1,0,0,1,0,0,1,1,0

###  the effect of tfidf?

In [24]:
df2['eyes']

otherside                  0.207635
view_from_the_afternoon    0.000000
Name: eyes, dtype: float64

In [25]:
df2['and']

otherside                  0.073867
view_from_the_afternoon    0.316752
Name: and, dtype: float64

In [26]:
df.sum(axis=1)

south        59
beautiful    55
dtype: int64